@model hmsAPI2.Models.Doctor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DoctorNumber" />
            <div class="form-group">
                <label asp-for="DoctorName" class="control-label"></label>
                <input asp-for="DoctorName" class="form-control" />
                <span asp-validation-for="DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorSurname" class="control-label"></label>
                <input asp-for="DoctorSurname" class="form-control" />
                <span asp-validation-for="DoctorSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorContact" class="control-label"></label>
                <input asp-for="DoctorContact" class="form-control" />
                <span asp-validation-for="DoctorContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorEmail" class="control-label"></label>
                <input asp-for="DoctorEmail" class="form-control" />
                <span asp-validation-for="DoctorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorQualification" class="control-label"></label>
                <input asp-for="DoctorQualification" class="form-control" />
                <span asp-validation-for="DoctorQualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorPracticeNumber" class="control-label"></label>
                <input asp-for="DoctorPracticeNumber" class="form-control" />
                <span asp-validation-for="DoctorPracticeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorHCRN" class="control-label"></label>
                <input asp-for="DoctorHCRN" class="form-control" />
                <span asp-validation-for="DoctorHCRN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
